@model NewGroupProject.Models.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoofGuests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoofGuests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
